# Base App Config
ENVIRONMENT=development
PORT=8000
FRONTEND_URL=http://localhost:3000

# SMTP Config (for sending OTP emails)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Firebase & Storage Config
GOOGLE_STORAGE_BUCKET=
GOOGLE_APPLICATION_CREDENTIALS=/app/app/config/service-account.json

GEMINI_API_KEY=

# Security
JWT_SECRET=
JWT_ALGORITHM=HS256
